<section class="bg-gray-50 min-h-screen">
  <div class="py-8 px-4 mx-auto max-w-screen-xl">
    <h1 class="text-3xl font-bold bg-gradient-to-r from-black via-red-600 to-yellow-300 inline-block text-transparent bg-clip-text">Wilkommen to German!</h1>
  <div class="pt-3">
    <img src="assets/images/roth.jpg" class="max-w-screen-xl w-2/3 h-[300px] object-cover rounded-b-lg " alt="rothenburg.jpeg">
  </div>
    <div class="text-justify pt-3.5 text-gray-500 dark:text-gray-400">
      <p class="mb-3"> <b>G</b>erman is one of the most commonly used languages in the European Union and is the official language of Germany, Austria, Liechtenstein as well as being one of the four official languages of Switzerland.
        The language is furthermore spoken in minority settlements throughout Europe, Africa (Namibia), North and South America. There are over 130 million German speakers worldwide including native speakers and non native speakers
      </p>
      <p class="mb-3">Stereotypically, German is known to be a harsh language due to usage of guttural R and exaggerated World War 2 movies. However, with time and practice German sounds can become music to your ears and you will soon realise how beautiful the language can be.
        You will also discover that German can be much easy to learn if you already speak English (German and English are cousins from the Proto-Germanic language group).
      </p>
      <p class="mb-3">
        Of course there are tonnes of German dialects spoken in different parts of Germany as well as the other German speaking countries,
        but you can easily get by as Hochdeutsch (High stanard German) is understood by many German speakers.
      </p>
      <p class="mb-3">
        On this platform you will be able to learn and understand German enough to have a basic conversation a well as order some food! Head over to the panel and begin your journey. You do not have to go in order, that can get boring. Explore and learn according to your style.
      </p>
    </div>
  </div>
</section>
